# environments/dev/values.yaml
replicaCount: 1

image:
  repository: docker.io/yijunl/wiki-service
  tag: 0e10e43552f2cfbbc9e47b2c8ec6f693479630da
  pullPolicy: Always

service:
  type: NodePort
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      nodePort: 30080
    - name: debug
      port: 5005
      targetPort: 5005
      nodePort: 30505

resources: {}