# environments/dev/values.yaml
replicaCount: 1

image:
  repository: docker.io/yijunl/wiki-service
  tag: dd1d45328834f8388b750ae5d8981cead2747772
  pullPolicy: Always

service:
  type: NodePort
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      nodePort: 30080
    - name: debug
      port: 5005
      targetPort: 5005
      nodePort: 30505

resources: {}